/* ugly-ish workaround to rotate y axes titles on the first and second viz (no option to do it using plotly yaxes properties) */
#main_vis .infolayer [class^='y'][class$='title'] {
    transform: rotate(0deg) translate(25px);
} 
#main_vis .infolayer [class^='y2'][class$='title'] {
    transform: rotate(0deg) translate(9px);
} 

.bar_vis .infolayer [class^='y'][class$='title'] {
    transform: rotate(0deg);
} 
#datepicker_button {
    left: 80vw;
    z-index: 1000;
}

.toast-body {
    display: flex;
    justify-content: center;
}

.toast-header {
    background-color: #0d6efd;
}

#scroll-up-button {
    position: fixed;
    display: none;
}

#scroll-up-button.is-visible {
    opacity: 1;
}